    
    <hr>
    
    <footer>
        CST336 Internet Programming. 20XX&copy; Latronica <br />
        <strong>Disclaimer:</strong> The information in this webpage is fictitious. <br />
        It is used for academic purposes only.
        <a href="https://www.geeksforgeeks.org">Information found here</a>
    </hr>
    </footer>
    
    <marquee loop="-1" scrollamount="3" width="80%"> 
    Thanks for visiting my webpage</marquee> 
        
    