<!DOCTYPE html>
<html>
    <head>
        <title>Homework 1</title>
        <meta charset="utf-8" />
        
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href= "/public/assets/styles.css" rel="stylesheet" type="text/css" />


        
    </head>
    
    <header>
        <h1>Data Structures</h1>
    </header>
    <hr> 
     <nav>
        <a id="home" class="link" href="/">Home</a>
        <a id="vector" class="link" href="/vector">Vectors</a>
        <a id="queue" class="link" href="/queue">Queues</a>
        <a id="unMap" class="link" href="/unMap">Unordered Maps</a>
    </nav>
    <br>