<% include partials/headers.ejs %>

    
    <main>
    
        <figure>
            <img src="img/c++logo.png" alt="C++ Logo">
        </figure>
        
        <div id="HomeText">
        <p>Hello!</p>
        <p>Welcome to my website about Data Structures in C++</p>
        <p>Data Structures are ways of storing different types of information</p>
        <p>On this website you will learn about Vectors, Hash Maps, and Queues</p>
        <br>
        
        <p> Why are you looking at this webpage</p>
         <label for = "student"> 
                Learning 
            </label> 
            <input type = "radio" name = "Occupation" 
            id = "student" value = "student"><br> 
      
            <label for = "business"> 
                Grading 
            </label> 
            <input type = "radio" name = "Occupation"
            id = "business" value = "business"><br> 
      
        
        </div>
    </main>

<% include partials/footers.ejs %>
</html>