<% include partials/headers.ejs %>

 <main>
    
        <figure>
            <img src="img/code3.jpg" alt="C++ Logo">
        </figure>
        
        <div id="QueText">
        <p>Queus are a very interesting data structure</p>
        <p>You insert data into the back and data is deleted at the front</p>
        <p>Think about it like a line at a restaurant. </p>
        <p>If you order first you will get your food first</p>
        <p>It is called FIFO first in first out</p>
        
        </div>
    </main>

<% include partials/footers.ejs %>
</html>