<% include partials/headers.ejs %>

    <main >
    
        <figure>
            <img src="img/code.png" alt="C++ Logo">
        </figure>
        
        <div id="VectorText">
            <p>Vectors are essentially better arrays. As a matter of fact they are dynamic arrays!</p>
            <p>Vectors have the ability to resize upon insertion or deletion.</p>
            <P> For example.</P>
            <p>vector< int > Numbers #Will create a vector of int type data</p>
            <p>In order to add elements you have to use push_back(); with the data in the ()</p>
            <p>Vectors have loads of things you can do with them.</p>
            <P>empty() tells you wether it is empty or not</P>
            <p>front() tells you what the front element is</p>
            <p>back() tells you what the back element is</p>
            <p>swap() for swapping entire vectors of same type</p>
            <P>clear() removes all the elements in the vector</P>
            <p>there are so many applications for vectors!</p>

        </div>
    
    </main>

<% include partials/footers.ejs %>
</html>